@import 'config.css';

main form{
	border: 2px solid var(--black);
	padding: 4.5% 10%;
	box-shadow: 2px 1px 5px var(--blue);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 0) and (max-width: 370px){
	main form{
		padding: 2%;
	}
}

main form input{
	margin: 1%;
}
